:root{
  --background: #0d1117;
  --primary: #ffffff;
  --border:  rgb(160, 160, 160);
}

body{
  background-color: var(--background);
  font-family: monospace;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--background);
  
  color: var(--primary);

  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
}

header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
input{
  background-color: transparent;
  color: var(--primary);
  border: none;
  height: 30px;

  border-bottom: 2px solid white;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
}
button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;

  cursor: pointer;
}
input:focus{
  outline: none;
}

.user-info{
  flex-basis: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-info .profile-img {
  width: 150px;
  height: 150px;
  position: relative; /* Make the parent relative */
}

.profile-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.loader {
  position: absolute; /* Position relative to parent */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--primary) #0000;
  animation: l1 1s infinite;
}

.user-info .traits{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 30px;

  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  padding: 10px 100px 10px 100px;
  border: 5px solid var(--border);
  border-radius: 20px;
  border-top: none;
  border-left: none;

  position: relative;
  left: 10px;
}
.user-info .traits::before{
  content: "";
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  position: absolute;
  left: -25px;
  rotate: 45deg;
  border-bottom: 5px solid var(--border);
  border-radius: 5px;
}

.user-info .traits div{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;

  font-size: 20px;
}

.repos {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}
.repo{
  width: 20%;
  height: fit-content;
  padding: 10px;

  min-width: 300px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 5px solid var(--border);
  border-radius: 10px;
  border-top: none;
  border-left: none;

  background-color: white;
  color: #1d1d1d;
  scale: 0;
  animation: repo-load 0.3s linear forwards;

  transition: 0.3s;
  position: relative;
}
.repo:hover{
  z-index: 100;
}
.repo.filtered-out{
  filter: brightness(0.5) blur(3px);
}
.repo.load{
  animation: load-out 0.5s linear forwards;
}
.repo a{
  color: var(--background);
  text-decoration: none;

  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 10px;
}
.tags{
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
}
.tag{
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 2px;
  cursor: pointer;

  transition: 1s;

  position: relative;
  
  z-index: 5;
  box-shadow: 0px 1px 2px #272727;
}
.tag:hover{
  z-index: 10;
  scale: 1.1;
}
.tag:hover .desc{
  opacity: 1;
}
.tag .desc{
  opacity: 0;
  position: absolute;
  background-color: inherit;
  top: 30px;
  left: 0px;
  padding: 2px;
  border-radius: 5px;

  transition: opacity 0.5s;

  pointer-events: none;
}

.tag.filter{
  animation: tag-filtered 1s linear infinite;
}
.languages{
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  header{
    scale: 0.8;
  }
  .repos{
    margin-left: 0;
  }
  .user-info .traits div{
    font-size: 10px;
  }
  .user-info .traits{
    gap: 2px;
    justify-content: space-evenly;
    padding: 10px;
  }
}

@keyframes l1 {to{transform: translate(-50%, -50%) rotate(.5turn)}}
@keyframes repo-load {
  0%{
    scale: 0;
  }
  40%{
    scale: 1.1;
  }
  60%{
    scale: 1;
  }
  80%{
    scale: 1.1;
  }
  100%{
    scale: 1;
  }
}
@keyframes load-out {
  0% {
    scale: 1;
 }
 25% {
  scale: .95;
 }
 50% {
    opacity: 1;
    scale: 1.1;
 }
 100% {
    opacity: 0;
    scale: .3;
 }
}
@keyframes tag-filtered {
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 1.1 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 1.1 );
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 1 );
  }
}
